/* Sticky footer using CSS Grid */
html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
}

section {
    height: 100%;
}

.section-wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Whole page styling */
body {
    background-image: -webkit-linear-gradient(to right, red, orange, goldenrod, gold);
    background-image: linear-gradient(to right, red, orange, goldenrod, gold);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: yellow;
    padding: 0;
    margin: 0;
}

a:visited, a:link, a:active, a:hover {
    color: yellow;
}

/* Header, footer styling */
footer > div, header > div {
    background: blue;
    color: yellow;
    padding: 1rem;
}

/* Buttons */
.button {
    background: blue;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: yellow;
    padding: 10px 42px 10px 42px;
}

/* About page */
.boxed {
    display: inline-block;
    width: 700px;
    word-wrap: break-word;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: blue;
    border: 15px solid yellow;
    padding: 15px;
}

.rarity_about {
    width: 15px;
    height: 15px;
}