/* Feel free to use and repurpose my code, as long as you credit me and/or link to my github page
   Written by justin keena, https://github.com/jwkeena/Pokemon-Booster-Pack-Simulator */

.topBarLeft {
    float: left;
}

.topBarRight {
    float: right;
}

#instructions {
    color: blue;
}

a:visited {
    color: yellow;
}

body {
    background-image: linear-gradient(to right, red, orange, goldenrod, gold);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: yellow;
}

.button {    
    background: blue; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: yellow;
}

.row img {
    width: 315px;
    height: 450px;
    border-radius: 15px;
}

/* Style common to all cards, adapted from https://jsfiddle.net/pbnz43gf/ */

    /* Ensures the back of the card is flipped to the front, not just inverted*/
   .pack .back, .card1 .back1, .card2 .back2, .card3 .back3, .card4 .back4, .card5 .back5, .card6 .back6, .card7 .back7, .card8 .back8, .card9 .back9, .card10 .back10, .card11 .back11 {
        -webkit-transform: rotateY( 180deg );
        -moz-transform: rotateY( 180deg );
        -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
    }

    .pack.flipped, .card1.flipped, .card2.flipped, .card3.flipped, .card4.flipped, .card5.flipped, .card6.flipped, .card7.flipped, .card8.flipped, .card9.flipped, .card10.flipped, .card11.flipped {
        -webkit-transform: rotateY( 180deg );
        -moz-transform: rotateY( 180deg );
        -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
    }

    .pack, .card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9, .card10, .card11, .card12 {
        display: inline-block; /*puts all cards in a row. Idea from https://codepen.io/roppazvan/pen/EZVLEy*/
        padding-left: 10px; /* prevents cards from being stacked on top of each other*/
        padding-right: 335px; /*same*/
        -webkit-transition: -webkit-transform 1s;
        -moz-transition: -moz-transform 1s;
        -o-transition: -o-transform 1s;
        transition: transform 1s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%; 
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    .pack div, .card1 div, .card2 div, .card3 div, .card4 div, .card5 div, .card6 div, .card7 div, .card8 div, .card9 div, .card10 div, .card11 div {
        position: absolute; /* This keeps the front behind the back*/
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
 
    }
/*End of style common to all cards*/

#topBar, #bottomBar {
    background: blue;
    padding: 10px;
    color: yellow;
    overflow: auto;
}

